.body {
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mainSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  max-width: 100%;
  max-height: fit-content;
  padding: 8px;
  margin: auto;
  row-gap: 50px;
  column-gap: 20px;
}

@media (max-width: 600px) {
  .mainSection {
    display: flex;
    flex-direction: column;
    margin-inline: 8px;
  }
}
