.mainNav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  box-shadow: var(--doctopia-box-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--doctopia-bg-main);
  background-image: linear-gradient(
    45deg,
    var(--doctopia-bg-one) 0%,
    var(--doctopia-bg-two) 22%,
    var(--doctopia-bg-three) 90%
  );
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  border-radius: 20px;
  margin-inline: 10px;
  margin-top: 8px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  margin-inline-end: 20px;
  margin-inline-start: 10px;
}

.appName {
  font-size: 3rem;
  flex-grow: 2;
}

.joinUs {
  flex-grow: 8;
  text-align: center;
}

@media (max-width: 600px) {
  .mainNav {
    flex-wrap: wrap;
  }

  .joinUs {
    margin-top: 10px;
  }
}
