.scrollToTopBtn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: grid;
  box-shadow: 5px 5px 2.5px #aaaaaa;
  border: 1px solid #333;
  align-items: center;
  justify-content: center;
  grid-row: 2/ 3;
  align-self: center;
}

.scrollToTopBtn:hover {
  background-color: var(--doctopia-green);
}
